* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgba(0, 0, 0, 0.945);
  padding: 20px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1.3rem;
}
nav > a {
  text-decoration: none;
  color: #a09999;
  padding: 0.4rem 1.3rem;
  border: 1px solid #a09999;
}
nav .links .active,
.curtain_nav .active {
  color: #fff;
  border-bottom: 1px solid #fff;
  padding: 5px 0;
}
nav .links a {
  display: inline-block;
  text-decoration: none;
  color: #a09999;
  padding: 0.4rem 1.3rem;
}
nav .links {
  display: none;
}
#menu, #close_menu {
  font-size: 1.7rem;
  background: transparent;
  outline: none;
  color: #a09999;
  border: none;
}
#menu:hover, #close_menu:hover{
    cursor: pointer;
}
.left h1 {
  color: #f5e9e9;
  font-size: 2.7rem;
  margin-bottom: 1rem;
}
.left p {
  color: #c2bbbb;
  font-size: 1rem;
  margin-bottom: 1rem;
}
.left a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
.left a i {
  margin-left: 1rem;
  transition: all 0.5s ease;
}
.left a:hover i {
  transform: translateX(10px);
}
.right {
  margin-top: 2.3rem;
  position: relative;
}
.right img {
  width: 100%;
}
.details {
  background-color: #000000;
  box-shadow: rgb(31 29 29 / 75%) 0px 7px 0px 1px;
  padding: 1rem;
  width: 270px;
  margin-bottom: 3rem;
  position: absolute;
  right: 5%;
  top: 75%;
  transform: translateY(10%);
}
.details h3 {
  color: rgb(219, 213, 213);
}
.details .avatar {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 0.7rem;
}
.details .avatar img {
  width: 60px;
  border-radius: 50%;
  margin-right: 10px;
}
.details .avatar .name_work b {
  color: rgb(184, 178, 178);
}
.details .avatar .name_work p {
  color: rgb(107, 104, 104);
}
.curtain_nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  overflow-x: hidden;
  transition: 0.5s;
}
.curtain_nav a {
  display: inline-block;
  text-decoration: none;
  color: #a09999;
  padding: 0.4rem 1.3rem;
  font-size: 2.2rem;
  text-align: center;
  margin-bottom: 1.5rem;
}
.curtain_nav #close_menu{
    position: absolute;
    right: 10%;
    top: 10%;
}
.curtain_nav a:hover, .curtain_nav a:focus {
    color: #f1f1f1;
    cursor: pointer;
  }
footer {
  margin-top: 200px;
}
footer p {
  color: rgba(138, 133, 133, 0.568);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
}

@media only screen and (min-width: 850px) {
  nav .links {
    display: inline-block;
  }
  #menu {
    display: none;
  }
  .container {
    display: flex;
    width: 100%;
    align-items: center;
  }
  .left {
    width: 40%;
  }
  .right {
    width: 60%;
  }
  .details {
    width: 350px;
    top: 84%;
    transform: translateY(-10%);
  }
  .curtain_nav {
    display: none;
  }
}
